<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
</head>
<body>
    <h1>ToDo List</h1>
    <!-- Formular zum Erstellen einer neuen Aufgabe -->
    <form action="/create_task" method="POST">
        <!-- Label und Eingabefeld für den Titel der Aufgabe -->
        <label for="task_title">Add Task:</label>
        <input type="text" id="title" name="title" placeholder="Enter Task" required>
        <!-- Label und Eingabefeld für die Beschreibung der Aufgabe -->
        <label for="task_description">Description:</label>
        <input type="text" id="description" name="description" placeholder="Enter Description">
        <!-- Button zum Absenden des Formulars -->
        <button type="submit">Add</button>
    </form>
    <!-- Tabelle zur Anzeige der Aufgaben -->
    <table>
        <tr>
            <!-- Tabellenüberschriften -->
            <th>Title</th>
            <th>Description</th>
            <th>Done</th>
        </tr>
        <!-- Schleife über alle Aufgaben und Erstellung einer Tabellenzeile für jede Aufgabe -->
        {% for task in tasks %}
            <tr>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>{{task.done}}</td>
                <!-- Formular zum Markieren der Aufgabe als erledigt -->
                <td>
                    <form action="/mark_done/{{task.id}}" method="POST">
                        <button type="submit">Mark as Done</button>
                    </form>
                </td>
                <!-- Formular zum Löschen der Aufgabe -->
                <td>
                    <form action="/delete_task/{{task.id}}" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                    
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>