<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
</head>

<body>
    <h1>ToDo List</h1>

    <form action="/create_task" method="POST">
        <label for="task_title">Add Task:</label>
        <input type="text" id="title" name="title" placeholder="Enter Task" required>
        <button type="submit">Add</button>
    </form>


    <table>
        <tr>
            <th>Title</th>
            <th>Done</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{task.title}}</td>
                <td>{{task.done}}</td>
                <td>
                    <form action="/mark_done/{{task.id}}" method="POST">
                        <button type="submit">Mark as Done</button>
                    </form>
                </td>
                <td>
                    <form action="/delete_task/{{task.id}}" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                    
                </td>
            </tr>
        {% endfor %}
    </table>
</body>

</html>